<main>
  
    <header class="brand-name">
      <a [routerLink]="['/']">
      <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true">
      </a>
      <a [routerLink]="['/']">
        <img class="carrito" src="/assets/carrito.svg" alt="logo" aria-hidden="true">
        </a>
    </header>
 
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>